html,
body {
      font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f8fb;
    width: 100%;
    margin:0px;
    overflow-x: hidden;
}
img {
    max-width:100%;
    height: auto;
}

.logoimg {
    margin-top: -1rem;
    margin-left:11rem;
}
.container {
  width: 100%;
  display: block;
    justify-content: center;
    background-color: #f4f8fb;
    flex-direction: column;
    margin: auto;
}

svg {
    margin: 0 15px 0 15px;
}

svg:hover {
    filter:blur(10px);

}

.break{
    height:4vw;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.flexrow {
    display: flex;
    justify-content: center;
    align-items: center;
       display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flexrow_menu {
    display: flex;
    justify-content: center;
    align-items: center;
       display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
background-color: rgba(21, 36, 47, 0.74);
}

.flexrow_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vw;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.portfolio {
       font-size: 17vw;
    font-family: "Paytone One";
    text-align: center;
    color: white;
    margin-top: -4.5vw;
}



.oferta {
  color: black;
  background: url(../images/webdesign.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 12.5vw;
   font-family: "Paytone One";
   text-align: center;
}


#portfolio {
          background-image: url(../images/portfolio.jpg);
    background-size: cover;
    width: 100%;
    height: 50vw;
    margin: auto;
    display: block;
    margin-top: 8vw;
    margin-bottom: 4vw;
}


h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.375rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}


.left {
  text-align: left;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:986px) {


    header {
        background-image: url(../images/spaceparralax.jpg);
        background-attachment: scroll;
        height:150vw;
        background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    }

    .spaceout {
display: block;
    font-size: 13vw;
    font-family: "Paytone One";
    color: rgb(255, 255, 255);
    line-height: 0.068;
    z-index: 1;
    margin-top: 30px;
    margin-left: -126vw;
    transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.spaceoutkontakt {
font-size:6vw;
 font-family: "Paytone One";
color: #240a32;
line-height: 1;
z-index: 1;
margin:auto;

}

.row {
  position: relative;
  width: 93%;
    }
    .row [class^="col"] {
  float: left;
  margin: 0;
  min-height: 0.125rem;
    padding-left:0.7rem;
    padding-right: 0.1rem;
}

.contact p{
    font-size:7vw;
    color: whitesmoke;
    line-height: 1;

}

.social {
    left: 5vw;
    margin-top: 0;
    padding-bottom: 0vw;
    position: relative;
    bottom: 2vw;
}

.navigation, .nav {
    display: none;
}

section {
width: 93%;
padding-top: 1vw;
margin-top: 1vw;
margin-bottom: 1vw;
background: #fff 50%;
border-radius: 5px;
box-shadow: 8px 14px 38px rgba(39,44,49,.26), 1px 3px 8px rgba(39,44,49,.23);
transition: all .5s ease;
margin: auto;
    box-sizing: border-box;
}


.notka {
    box-sizing: border-box;
    width: 80%;
    background-color: #f4f8fb;
    padding: 0.5rem 0.5rem;
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .1s ease;
    z-index: 1;
    margin-left: 9vw;


}
        .notka .notkatext {
  visibility: hidden;
         width: 90%;
    background-color: #4a0072;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 1rem;
    overflow: hidden;
     position: absolute;
    display: block;
            z-index: 5;
            margin-left: 1vw;
    margin-top: -1vw;
}


.cta {
    align-content: center;
    align-self: center;
    justify-content: center;
    display: flex;
    padding: 2em;
    margin-left: 9vw;
}

.cta_button {
    font-family: "Paytone One";
    font-size: 5.2vw;
    text-transform: lowercase;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.45);
}

.tags {
display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
	margin-left:-1vw;


   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;}


.tags li{
    padding: 1em;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    margin: 0.5em;
    font-size: 2vw;
       box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
    border-radius: 5px;
}


.tags li:hover {
    background: #4a0072;
}

a .blogbtn {
    display: block;
   text-align: center;
      background: black;
    color: white;
    font-size: 4.2vw;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .3s ease;
    cursor: pointer;
    margin-left: -9vw;
}
a .blogbtn:hover {

  box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
    transform: translate3D(0,-1px,0);
    z-index: 1;
    color:whitesmoke;
    background: #4a0072;

}

.float-nav2, .main-nav2 {
    display: none;
}

.float-nav {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 20;
}
.float-nav > a.menu-btn {
text-decoration: none;
display: block;
background-color: #240a32;
color: white;
padding: 17px 19px 12px 19px;
text-align: center;
box-shadow: 2px 2px 8px #777;
border-radius: 300px;
}
.float-nav > a.menu-btn > ul {
list-style: none;
padding: 0;
margin: 0;
}
.float-nav > a.menu-btn > ul > li.line {
border: 1px solid white;
width: 100%;
margin-bottom: 7px;
-moz-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}
.float-nav > a.menu-btn > .menu-txt {
width: 100%;
text-align: center;
font-size: 12px;
font-family: sans-serif;
}

.main-nav {
display: none;
opacity: 0;
font-family: sans-serif;
position: absolute;
bottom: 20px;
right: 20px;
transition: opacity 250ms;
}
.main-nav > ul {
width: 100%;
display: block;
list-style: none;
margin: 0;
padding: 0;
background-color: #240a32;
box-shadow: 2px 2px 8px #777;
border-radius: 3px 3px 33.5px 3px;
}
.main-nav > ul > li > a {
text-decoration: none;
display: block;
font-weight: 200;
padding: 18px 80px 18px 18px;
color: white;
}
.main-nav > ul > li > a:hover {
font-weight: 400;
}



#slider-k {
        display: none;}
.mobileportfolio {
        display: block;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    button#myBtn {
    text-align: center;
    position: absolute;
    left: 50%;
    margin: 0vw 0vw 2vw -8vw;
    font-size: 4vw;
    background: transparent;
    border: 0;
    text-transform: lowercase;
    font-family: "Paytone One";
}

.modal-content {
position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 78%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 2em;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FFF;
    color: #240a32;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #FFF;
    color: black;
}

    .mobileportfolio img {
        transform: skewX(-20deg);
transition: width 1.2s ease-in-out;
    }
}




@media screen and (min-width:986px) {
header {
  background-image: url(../images/spaceparralax.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.spaceoutkontakt {
    font-size: 3vw;
    font-family: "Paytone One";
    color: #240a32;
    line-height: 0.068;
    z-index: 1;
    margin-left: 3.5vw;
    padding-bottom: 0em;
    padding-top: 0em;
}


kontakt {
    background-position: bottom;
    background-repeat: no-repeat;
      width: 100%;
    height:100%;
	text-align:center;
	padding: 2em;

}



.contact {
    margin: auto;
}

.spaceoutkontakt a {
    text-decoration: none;
    color:  #240a32;
 -webkit-transition: 1s;
    transition: 1s;}

.spaceoutkontakt a:hover {
    filter: blur(5px);
}



.logoimg {
    margin-top: -1rem;
    margin-left:11vw;

}
.navigation {
    font-size: 1.5vw;
    color: black;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 0;
       display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.navigation li {
    padding: 0.2em 3.45em 0.2em 3.45em;
    margin-right: 5px;


}

.navigation a{
    color: white;
    text-decoration: none;
}


.nav {

    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
    background-color: transparent;
    border-top-right-radius:5px;
    border-top-left-radius: 5px;

}

.nav:hover {
    background: rgba(61, 66, 70, 0.42);
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
    color: white;

}

.social {
    margin-left: 13vw;
    margin-top: -3vw;
    padding-bottom: 20vw;
}


section {
    width: 80%;
    padding-top: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background: #fff 50%;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.26), 1px 3px 8px rgba(39,44,49,.23);
    transition: all .5s ease;
    margin: auto;
    padding-bottom: 2vw;
}


section:hover {
    box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
    transition: all .3s ease;
    transform: translate3D(0,-1px,0);
}


.webdesign {
   color: black;
   background: url(../images/webdesign.jpg) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-size: 12.5vw;
    font-family: "Paytone One";
    text-align: center;

}

.notka {
    min-height: 220px;
    box-sizing: border-box;
width: 100%;
background-color: #f4f8fb;
padding: 0.5rem 0.5rem;
    padding-top: 0.5rem;
padding-top: 1vw;
margin-top: 1vw;
margin-bottom: 1vw;
border-radius: 5px;
box-shadow: 8px 14px 38px rgba(39,44,49,.26), 1px 3px 8px rgba(39,44,49,.3);
transition: all .1s ease;
    z-index: 1;
    display: inline-grid;

}

.notka:hover {
    box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
    transition: all .1s ease;
    transform: translate3D(0,-1px,0);
    z-index: 1;
}

.notka_img {
    text-align: center;
    padding-top:35px;
    }

.notka_opis {
    text-align: center;
    margin-top: -1em;
    }


.notka .notkatext {
  visibility: hidden;
    width: 30vw;
    background-color: #4a0072;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 1rem;
    position: absolute;
    z-index: 5;
    margin-top: -8vw;
    overflow: hidden;
    margin-left: -21vw;

}

.notka:hover .notkatext {
    visibility: visible;
}

.tags {
display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 98%;
    margin-left: -3em;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;}


.tags li{
    padding: 1em;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    margin: 0.5em;
    font-size: 0.6vw;
       box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
    border-radius: 5px;
    cursor: pointer;
}


.tags li:hover {
    background: #4a0072;
}

a .blogbtn {
    display: block;
   text-align: center;
    width: 18vw;
    height: 2.5vw;
    background: black;
    color: white;
    font-size: 1.2vw;
    padding: 0.5em 0.5em 0 0.5em;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .3s ease;
    cursor: pointer;
}
a .blogbtn:hover {

  box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
    transform: translate3D(0,-1px,0);
    z-index: 1;
    color:whitesmoke;
    background: #4a0072;

}

.cta {
    align-content: center;
    align-self: center;
    justify-content: center;
    display: flex;
    padding: 2em;

}

.cta_button {
    font-family: "Paytone One";
    font-size: 3.2vw;
    text-transform: lowercase;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.45);
}

.col-2 {
  width: 12.66%;
}

.col-3 {
  width: 22%;
}

.col-6 {
  width: 46%;
}

.col-9 {
  width: 71%;
}

.col-10 {
  width: 79.33%;
}

.col-12 {
  width: 96%;
}

.row{
    position: relative;
    width: 100%;

}

.row [class^="col"] {
float: left;
margin: 0;
min-height: 0.125rem;
padding-left:1.5rem;
padding-right: 0.5rem;
}

.col-2,
.col-3,
.col-6,
.col-9,
.col-10,
.col-12 {
width: 96%;
}

.row::after {
content: "";
display: table;
clear: both;
}
.float-nav, .main-nav {
    display: none;
        }

.float-nav2 {
    display: none;
position: fixed;
bottom: 4vw;
right: 4vw;
z-index: 20;
     transition: opacity 250ms;
}

.main-nav2 {
display: none;
opacity: 0;
font-family: sans-serif;
position: fixed;
bottom: 4vw;
right: 4vw;
transition: opacity 250ms;
}
.main-nav2 > ul {
width: 100%;
display: block;
list-style: none;
margin: 0;
padding: 0;
background-color: #240a32;
box-shadow: 2px 2px 8px #777;
border-radius: 3px 3px 33.5px 3px;
}
.main-nav2 > ul > li > a {
text-decoration: none;
display: block;
font-weight: 200;
padding: 18px 80px 18px 18px;
color: white;
}
.main-nav2 > ul > li > a:hover {
font-weight: 400;
}


#slider-k {
        display: none;}
.mobileportfolio {
        display: block;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    button#myBtn {
    text-align: center;
    position: absolute;
    left: 50%;
    margin: 0vw 0vw 2vw -8vw;
    font-size: 4vw;
    background: transparent;
    border: 0;
    text-transform: lowercase;
    font-family: "Paytone One";
}

.modal-content {
position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 78%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 2em;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FFF;
    color: #240a32;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #FFF;
    color: black;
}

    .mobileportfolio img {
        transform: skewX(-20deg);
transition: width 1.2s ease-in-out;
    }


    #slider-k {
       background: #fff;
        width: 22vw;
        height: 12vw;
        margin: 20px auto;
        overflow: hidden;
        border-radius: .5rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
        margin-top: 0.8vw;
        transition: all .5s ease;

    }

    #slider-k:hover {
        margin-top:-5vw;
        width: 52vw;
        height: 22vw;
    }

    #slider-k .frame-k {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 6vw;
    height: 100%;
    float: left;
    overflow: hidden;
    border-left: 10px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
    }
    #slider-k:hover div {width: 108px;cursor: w-resize;}
    #slider-k:hover div:hover {
    width: 25vw;}

    .frame-k img {
    margin-left: -55px;
    transform: skewX(20deg);
    max-width: none;
    margin-top: -1vw;

    }

    #slider-k > div:first-child {margin-left: -63px;}
    #slider-k > div:last-child {margin-right: -11vw;

        width: 17.2vw;}

        #slider-k:hover > div:hover:last-child {
        width:35vw;}

        .mobileportfolio {
        display: none;
    }

    }
